/* default */
* {
	-GtkArrow-arrow-scaling: 0.6px;
	-GtkButton-child-displacement-x: 0;
	-GtkButton-child-displacement-y: 0;
	-GtkButton-default-border: 0;
	-GtkButton-image-spacing: 0;
	-GtkButton-interior-focus: true;
	-GtkButton-inner-border: 0;
	-GtkCheckButton-indicator-size: 16px;
	-GtkCheckMenuItem-indicator-size: 14px;
	-GtkEntry-inner-border: 0;
	-GtkEntry-progress-border: 0;
	-GtkExpander-expander-size: 8;
	-GtkHTML-link-color: @link_color;
	-GtkIMHtml-hyperlink-color: @link_color;
	-GtkMenu-horizontal-padding: 0;
	-GtkMenu-vertical-padding: 0;  
	-GtkMenuBar-internal-padding: 0;
	-GtkMenuItem-arrow-scaling: 0.5px;
	-GtkNotebook-tab-overlap: 1;
	-GtkPaned-handle-size: 4;
	-GtkProgressBar-min-horizontal-bar-height: 4;
	-GtkProgressBar-min-vertical-bar-width: 4;
	-GtkRange-trough-border: 0;
	-GtkRange-slider-width: 15px;
	-GtkRange-stepper-size: 17px;
	-GtkRange-trough-under-steppers: 1;
	-GtkRange-stepper-spacing: 0;
	-GtkScale-trough-border: 0;
	-GtkScrollbar-activate-slider: 1;
	-GtkScrollbar-trough-border: 0;
	-GtkScrollbar-min-slider-length: 31;
	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkScrolledWindow-scrollbars-within-bevel: 1;
	-GtkSeparatorMenuItem-horizontal-padding: 0;
	-GtkStatusbar-shadow-type: none;
	-GtkTextView-error-underline-color: @error_color;
	-GtkToolButton-icon-spacing: 6;
	-GtkToolItemGroup-expander-size: 11;
	-GtkToolbar-internal-padding: 0;
	-GtkTreeView-expander-size: 4;
	-GtkTreeView-vertical-separator: 0;
	-GtkWidget-wide-separators: true;
	-GtkWidget-separator-width: 2;
	-GtkWidget-separator-height: 2;
	-GtkWidget-focus-padding: 0;
	-GtkWidget-focus-line-width: 1;
	-GtkWidget-link-color: @link_color;
	-GtkWidget-visited-link-color: @link_color;
	-GtkWindow-resize-grip-default: false;
	-GtkWindow-resize-grip-width: 0;
	-GtkWindow-resize-grip-height: 0;
	-WnckTasklist-fade-overlay-rect: 0;

	border-width: 1px;
	
	engine: unico;
	-unico-focus-border-color: alpha (@selected_bg_color, 0.5);
	-unico-focus-border-radius: 2;
	-unico-focus-fill-color: alpha (@selected_bg_color, 0.1);
	-unico-focus-outer-stroke-color: @transparent;
	-unico-inner-stroke-color: shade (@bg_color, 1.1);
	-unico-inner-stroke-width: 0;
}

GtkWindow {
    color: alpha (@fg_color, 0.8);
}

* {
    /* inherit the color from parent by default */
    color: inherit;
    background-color: @bg_color;
}

/**********
 * states *
 **********/
*:insensitive {
    color: shade (@bg_color, 0.6);
    /*text-shadow: 0 1 alpha (shade (@bg_color, 1.25), 0.5);*/
}

*:active {
}

*:active:hover:insensitive {
}

*:active:insensitive {
}

*:hover {
}

*:hover:insensitive {
}

*:selected,
*:selected:focused {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

/*************
 * assistant *
 *************/
GtkAssistant .sidebar .highlight {
    color: @fg_color;
    font: bold;
}

GtkAssistant .sidebar {
    background-color: shade (@bg_color, 0.97);
    border-right-color: shade (@bg_color, 0.8);
    border-radius: 0;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    padding: 12px;

    color: mix (@fg_color, @bg_color, 0.40);
    /*text-shadow: 0 1 shade (@bg_color, 1.04);*/

    -unico-border-gradient: none;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
}

/**************
 * background *
 **************/
.background {
    background-color: @bg_color;
    border-width: 0;
}

/*********
 * label *
 *********/
GtkLabel,
GtkLabel:insensitive {
    background-color: transparent;
}

/**********
 * button *
 **********/
.button {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: shade (@bg_color, 0.75);
    background-color: shade (@bg_color, 0.975);
    text-shadow: none;

    -unico-focus-border-color: alpha (@selected_bg_color, 0.7);
    -unico-focus-fill-color: @transparent;
    -unico-focus-outer-stroke-color: alpha (@selected_bg_color, 0.2);
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
	from (alpha (shade (@bg_color, 0.05), 0.01)),
	to (alpha (shade (@bg_color, 0.05), 0.025)));
    -unico-outer-stroke-width: 1;
}

.button:hover {
    background-color: shade (@bg_color, 0.925);
    border-color: shade (@bg_color, 0.75);
    border-bottom-color: shade (@bg_color, 0.65);

    -unico-inner-stroke-color: alpha (#ffffff, 0.6);
    -unico-inner-stroke-width: 1 0 0 0;
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.05)),
		to (alpha (shade (@bg_color, 0.05), 0.075)));
}

.button:active {
  background-color: @button_focus_color;
  -unico-inner-stroke-color: alpha (#ffffff, 0.4);
	-unico-inner-stroke-width: 1 0 0;
  border-color: shade (@button_focus_color, 0.8);
  border-bottom-color: shade (@button_focus_color, 0.7);
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.05)),
		to (alpha (shade (@bg_color, 0.05), 0.075)));
}

.button:active:hover {
  background-color: @button_pressed_color;
  -unico-inner-stroke-color: alpha (#ffffff, 0.25);
  border-bottom-color: shade (@button_pressed_color, 0.7);
}

.button:insensitive {
	background-color: @bg_color;
  border-color: shade (@bg_color, 0.9);
  color: shade (@bg_color, 0.6);
}

.button:insensitive:active {
  background-color: mix (@bg_color, @button_focus_color, 0.2);
  -unico-inner-stroke-color: alpha (#ffffff, 0.4);
	-unico-inner-stroke-width: 1 0 0;
  border-color: mix (shade (@bg_color, 0.9), shade (@button_focus_color, 0.8), 0.2);
  border-bottom-color: mix (shade (@bg_color, 0.9), shade (@button_focus_color, 0.7), 0.2);
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.025)),
		to (alpha (shade (@bg_color, 0.05), 0.05)));
}

GtkComboBox .button {
  engine: unico;
  color: @transparent;
  background-color: @transparent;
  border-style: solid;
  border-width: 1px;
  border-image: url('assets/combobox.svg') 0 13 13 4 / 0 13 13 4 stretch;
  -unico-focus-border-radius: 2;
  -unico-focus-fill-color: alpha (@selected_bg_color, 0.2);
  -unico-focus-border-color: alpha (@selected_bg_color, 0.7);
}

GtkComboBox .button:hover {
  engine: unico;
  color: @transparent;
  background-color: @transparent;
  border-image: url('assets/combobox-hover.svg') 0 13 13 4 / 0 13 13 4 stretch;
}

GtkComboBox .button:active {
  engine: unico;
  color: @transparent;
  background-color: @transparent;
  border-image: url('assets/combobox-active.svg') 0 13 13 4 / 0 13 13 4 stretch;
}

GtkComboBox .button:insensitive {
  engine: unico;
  color: @transparent;
  background-color: @transparent;
  border-image: url('assets/combobox-insensitive.svg') 0 13 13 4 / 0 13 13 4 stretch;
}

GtkComboBox .button *:insensitive {
  color: @transparent;
}

GtkComboBox.combobox-entry .button {
  engine: unico;
  border-image: url("assets/combobox-entry.svg") 0 10 1 1 / 0 10 1 1 stretch;
  background-color: @transparent;
  color: @transparent;
  -unico-focus-fill-color: @transparent;
  -unico-focus-border-color: @transparent;
}

GtkComboBox.combobox-entry .button:hover, GtkComboBox.combobox-entry .button:focus {
  engine: unico;
  border-image: url("assets/combobox-entry-hover.svg") 0 10 1 1 / 0 10 1 1 stretch;
  background-color: @transparent;
  color: @transparent;
}

GtkComboBox.combobox-entry .button:active, GtkComboBox.combobox-entry .button:active:hover {
  engine: unico;
  border-image: url("assets/combobox-entry-active.svg") 0 10 1 1 / 0 10 1 1 stretch;
  background-color: @transparent;
  color: @transparent;
}

GtkComboBox.combobox-entry .button:insensitive {
  engine: unico;
  border-image: url("assets/combobox-entry-insensitive.svg") 0 10 1 1 / 0 10 1 1 stretch;
  background-color: @transparent;
  color: @transparent; 
}
GtkComboBox.combobox-entry .button *:insensitive {
  color: @transparent; 
}



/* default button */
.button.default {
	-unico-focus-outer-stroke-color: alpha (@selected_bg_color, 0.2);
}

.button.default:hover {
}

.button.default:active {
}

.button.default:active:hover {
}

.button.default:insensitive {
}

/****************
 * cell and row *
 ****************/
.cell {
    border-radius: 0;
    border-width: 0;
}

.cell:selected {
    background-color: @selected_bg_color_alt;
    color: @selected_fg_color_alt;
}

row {
    text-shadow: none;
}

row:hover {
}

row:insensitive {
    background-color: @selected_bg_color_alt;
}

row:selected:focused {
    border-width: 0;
    border-style: solid;
    background-color: @selected_bg_color;
    color:@selected_fg_color;
    text-shadow: none;
}

row:selected {
    border-width: 0;
    border-style: solid;
    background-color: @selected_bg_color_alt;
    color: @selected_fg_color_alt;
    text-shadow: none;
}

/*******************
 * check and radio *
 *******************/
.check row:selected,
.radio row:selected,
.check,
.check row,
.radio,
.radio row {
    text-shadow: none;

}

.check,
.check row {
    background-color: transparent;
    border-radius: 0;
    background-image: url("assets/check-unselected.svg");
}

.radio,
.radio row {
    background-color: transparent;
	border-radius: 0;
  background-image: url("assets/radio-unselected.svg");
}

.check:hover,
.check row:hover {
    background-color: transparent;
	border-radius: 0;
  background-image: url("assets/check-unselected-hover.svg");
}

.radio:hover,
.radio row:hover {
    background-color: transparent;
	border-radius: 0;
  background-image: url("assets/radio-unselected-hover.svg");
}

.check:active,
.check row:selected:active,
.check row:selected:focused:active,
.notebook .check:active {
    background-color: transparent;
  background-image: url("assets/check-selected.svg");
}

.notebook .radio:active,
.radio:active,
.radio row:selected:active,
.radio row:selected:focused:active {
    background-color: transparent;
  background-image: url("assets/radio-selected.svg");
}

.check:active:hover,
.check row:selected:active:hover,
.check row:selected:focused:active:hover,
.notebook .check:active:hover {
    background-color: transparent;
  background-image: url("assets/check-selected-hover.svg");
}

.notebook .radio:active:hover,
.radio:active:hover,
.radio row:selected:active:hover,
.radio row:selected:focused:active:hover {
    background-color: transparent;
  background-image: url("assets/radio-selected-hover.svg");
}

.check row:selected,
.check row:selected:active,
.check row:selected:focused,
.check row:selected:focused:active,
.radio row:selected,
.radio row:selected:active,
.radio row:selected:focused,
.radio row:selected:focused:active {
    background-color: transparent;
}

.check:insensitive {
  background-image: url("assets/check-unselected-insensitive.svg");
}

.radio:insensitive {
  background-image: url("assets/radio-unselected-insensitive.svg");
}

.check:insensitive:active {
  background-image: url("assets/check-selected-insensitive.svg");
}

.radio:insensitive:active {
  background-image: url("assets/radio-selected-insensitive.svg");
}



/*****************
 * column-header *
 *****************/
column-header .button,
column-header .button:active,
.notebook column-header .button,
.notebook column-header .button:active {
	-GtkButton-inner-border: 0;
	background-color: shade (@bg_color, 0.975);
	border-radius: 0;
	border-width: 0px 1px 1px 0px;
  border-color: shade (@bg_color, 0.75);

	-unico-focus-border-radius: 0;
	-unico-focus-border-color: @transparent;
	-unico-focus-fill-color: alpha (@selected_bg_color, 0.2);
	-unico-focus-outer-stroke-color: @transparent;

	-unico-glow-radius: 0;
	-unico-outer-stroke-width: 0;
}

column-header .button:hover,
.notebook column-header .button:hover {
	background-color: shade (@bg_color, 0.9);
}

column-header:nth-child(last) .button {
	border-width: 0px 0px 1px 0px;
}

/******************
 * combobox entry *
 ******************/
.primary-toolbar GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .entry {
  engine: unico;
  border-image: url("assets/entry.svg") 0 1 1 1 / 0 0 1 1 stretch;
}

.primary-toolbar GtkComboBox.combobox-entry .entry:active,
.primary-toolbar GtkComboBox.combobox-entry .entry:focused,
GtkComboBox.combobox-entry .entry:active,
GtkComboBox.combobox-entry .entry:focused {
  engine: unico;
  border-image: url("assets/entry-focus.svg") 0 1 1 1 / 0 0 1 1 stretch;
}

.primary-toolbar GtkComboBox.combobox-entry .entry:insensitive,
GtkComboBox.combobox-entry .entry:insensitive {
  engine: unico;
  border-image: url("assets/entry-insensitive.svg") 0 1 1 1 / 0 0 1 1 stretch;
}

/*.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:hover,
.primary-toolbar GtkComboBox.combobox-entry .button:active,
.primary-toolbar GtkComboBox.combobox-entry .button:insensitive,
GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive {
}

GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive {
}*/

/*********
 * entry *
 *********/

GtkEntry {
    engine: unico;
    border-style: solid;
    border-width: 1px;
    border-image: url("assets/entry.svg") 0 1 1 1 / 0 1 1 1 stretch;
    background-color: @transparent;
    padding : 2px 5px;
}

GtkEntry:selected,
GtkEntry:selected:focused {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

GtkEntry:focused {
    engine: unico;
    border-image: url("assets/entry-focus.svg") 0 1 1 1 / 0 1 1 1 stretch;
}

GtkEntry:insensitive {
    engine: unico;
    border-image: url("assets/entry-insensitive.svg") 0 1 1 1 / 0 1 1 1 stretch;
    background-color: @transparent;
}

.primary-toolbar .toolbar .entry.progressbar,
.primary-toolbar.toolbar .entry.progressbar,
.entry.progressbar {
    engine: unico;
    background-color: @transparent;
    border-image: none;
    border-width: 0px 0px 3px;
    border-color: @selected_bg_color;

    -GtkEntry-inner-border: 0;
}

/************
 * expander *
 ************/
.expander {
    color: @fg_color;
}

/*********
 * frame *
 *********/
.frame {
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    border-color: shade (@bg_color, 0.9);

    -unico-outer-stroke-width: 0;
    -unico-inner-stroke-width: 0;
}

/************
 * iconview *
 ************/
GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
    background-color: @selected_bg_color;
    border-radius: 1.5px;
    border-style: solid;
    border-width: 0;
    color: @selected_fg_color;
}

.rubberband {
	background-color: alpha (@selected_bg_color, 0.35);
	border-color: @selected_bg_color;
	border-radius: 0;
	border-style: solid;
	border-width: 1px;
}

/***********
 * infobar *
 ***********/
.info {
	background-color: @info_bg_color;
	border-style: solid;
	border-width: 1px;
	border-color: shade (@info_bg_color, 0.75);
  color: @info_fg_color;
}

.warning {
	background-color: @warning_bg_color;
	border-style: solid;
	border-width: 1px;
	border-color: shade (@warning_bg_color, 0.75);
	color: @warning_fg_color;
}

.question {
	background-color: @question_bg_color;
	border-style: solid;
	border-width: 1px;
	border-color: shade (@question_bg_color, 0.75);
	color: @question_fg_color;
}

.error {
	background-color: @error_bg_color;
	border-style: solid;
	border-width: 1px;
	border-color: shade (@error_bg_color, 0.75);
	color: @error_fg_color;
}

/********
 * menu *
 ********/
.menu {
	padding: 0;
	background-color: @base_color;
	color: @fg_color;
	border-style: solid;
	border-width: 0px;

	-unico-inner-stroke-color: shade (@bg_color, 0.8);
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1;
}

.menu:selected {
	background-color: @selected_bg_color;
}

.menu.button:hover,
.menu.button:active,
.menu.button:active:insensitive,
.menu.button:insensitive,
.menu.button {
	background-color: shade (@bg_color, 1.08);
	border-radius: 0;
	border-style: none;
	border-width: 1px;

	-unico-border-gradient: none;
	-unico-glow-radius: 0;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
}

/***********
 * menubar *
 ***********/
.menubar {
  engine: unico;
	-GtkWidget-window-dragging: true;
	color: @selected_fg_color;
    border-width: 0;
    background-image : url("assets/menubar.svg");
    background-repeat : repeat;

/*
  background-color: @titlebar_color;
  border-image: url("assets/menubar.svg") 16 8 / 16 8 repeat;
*/
}

/***************
 * menubaritem *
 ***************/
.menubar.menuitem,
.menubar > .menuitem {
    border-radius: 0;
    border-width: 0px 0px 4px 0px;
    border-style: solid;
    color: @text_color_secondary_dark;
    padding-top: 7px;
    padding-bottom: 6px;
}

.menubar.menuitem:hover,
.menubar > .menuitem:hover {
    color: @text_color_primary_dark;
    border-image: none;
    background-image: url("assets/blank.png");
    text-shadow: none;
    border-width: 0px 0px 4px 0px;
    border-color: #33b5e5;
    border-style: solid;
}

/************
 * menuitem *
 ************/
.menuitem {
    padding: 3px;
    border-radius: 0px;
    border-style: solid;
    border-width: 0px ;
    color: @fg_color;
    background-color: @selected_bg_color;

    -unico-bullet-color: @dark_fg_color;
}

.menuitem:hover,
.menuitem *:hover {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    text-shadow: none;

    -unico-bullet-color: @dark_fg_color;
    border-style: solid;
    border-width: 0;
}

.menuitem:insensitive,
.menuitem *:insensitive {
    color: mix (@fg_color, @bg_color, 0.5);
}

.menuitem.check:active,
.menuitem.radio:active {
    color: @fg_color;
    -unico-bullet-color: @fg_color;
}

.menuitem.check:active:hover,
.menuitem.radio:active:hover {
    color: @selected_fg_color;
    -unico-bullet-color: @selected_fg_color;
}

.menuitem GtkCalendar,
.menuitem GtkCalendar.button,
.menuitem GtkCalendar.header,
.menuitem GtkCalendar.view {
	background-color: @bg_color;
	background-image: none;
	border-radius: 0;
	border-style: solid;
	border-width: 0;
	padding: 0;

	color: @fg_color;
}

.menuitem GtkCalendar {
	background-color: shade (@bg_color, 1.3);
	background-image: none;
}

/*.menuitem .entry {
	background-color: shade (@bg_color, 1.3);
	background-image: none;

	color: @fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.75)),
		to (shade (@bg_color, 0.9)));
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.98)),
		to (shade (@bg_color, 1.1)));
}

.menuitem GtkScale.trough {
	background-color: @bg_color;
	background-image: none;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.75)),
		to (shade (@bg_color, 1.15)));
}*/

.menuitem .accelerator {
	color: alpha (@fg_color, 0.5);
}

.menuitem .accelerator:hover {
	color: alpha (@selected_fg_color, 0.8);
}

.menuitem .accelerator:insensitive {
	color: alpha (mix (@fg_color, @bg_color, 0.5), 0.5);
}

/*********
 * image *
 * *********/
GtkImage {
    background-color: @transparent;
}

/************
 * notebook *
 ************/
.notebook {
  border-color: #E0E0E0;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  -GtkNotebook-initial-gap: 0;
	-GtkNotebook-tab-curvature: 0;
	-GtkNotebook-arrow-spacing: 5;
	
}

.notebook.top {
  border-top-width : 0px;
}

.notebook tab {
  background-color: #E0E0E0;
  border-width: 0px 1px 10px 1px;
  padding: 10px 4px 14px 4px;
  border-image : url("assets/notebook-tab-normal.svg") 0 1 4 1 stretch;
  background-image : -gtk-gradient (linear,
               left top, right bottom,
               from(#E0E0E0), to(#E0E0E0));
	-unico-focus-border-color: transparent;
	-unico-focus-fill-color: transparent;
}

.notebook tab GtkLabel {
  font-variant: small-caps;
  font-weight: bold;
}

.notebook tab:active {
  background-color:#33b5e5;
  border-image: url("assets/notebook-tab-active.svg") 0 1 4 1 stretch;
}

.notebook tab:active:focused {
  background-image : -gtk-gradient (linear,
               left top, right bottom,
               from(#78C6E3), to(#78C6E3));
}

.notebook tab.right,
.notebook tab.left,
.notebook tab:first-child {
  border-left-width : 0px;
}
.notebook tab.right,
.notebook tab.left,
.notebook tab:last-child {
  border-right-width : 0px;
}


.notebook tab.top {
}

.notebook GtkDrawingArea {
  background-color: #00F;
}

/******************
 * pane separator *
 ******************/
.sidebar .pane-separator,
.pane-separator {
	background-color: @transparent;
	border-color: shade (@bg_color, 0.84);

	-unico-border-color: @selected_bg_color;
  -unico-border-width: 1;
}

/*************************
 * progressbar and scale *
 *************************/
GtkScale,
GtkProgressBar {
    border-radius: 0;
    border-width: 0;
    padding: 0;
}

.progressbar,
.progressbar row,
.progressbar row:nth-child(odd),
.progressbar row:nth-child(even),
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focused {
    background-color: @selected_bg_color_alt2;
    border-width: 0;
    -unico-inner-stroke-width: 2 0;
}

.progressbar row:nth-child(even),
.trough row:nth-child(even) {
    -unico-inner-stroke-color: shade(@base_color, 1.0);
}

.progressbar row:nth-child(even),
.trough row:nth-child(even) {
    -unico-inner-stroke-color: shade(@base_color, 0.97);
}

.progressbar row:hover,
.trough row:hover {
    -unico-inner-stroke-color: shade (@bg_color, 0.97);
}

.progressbar row:selected,
.trough row:selected {
    -unico-inner-stroke-color: @selected_bg_color_alt;
}

.progressbar row:selected:focused,
.trough row:selected:focused {
    -unico-inner-stroke-color: @selected_bg_color;
}
.progressbar.vertical,
.progressbar.vertical row,
.progressbar.vertical row:hover,
.progressbar.vertical row:selected,
.progressbar.vertical row:selected:focused {
    -unico-inner-stroke-width: 0 2;
}

.trough,
.trough row,
.trough row:hover,
.trough row:nth-child(odd),
.trough row:nth-child(even),
.trough row:selected,
.trough row:selected:focused {
    background-color: shade(@bg_color, 0.85);
    border-width: 0;
    -unico-inner-stroke-width: 2 0;
}

GtkScale {
    -GtkRange-slider-width: 18;
    -GtkRange-trough-border: 0;
    -GtkScale-slider-length: 18;
    -GtkWidget-focus-line-width: 0;
}

GtkScale.trough {
  border-radius: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
}

GtkScale.trough,
GtkScale.trough.highlight:insensitive {
  background-position : 0 50%;
  background-repeat : repeat-x;
  background-image : url("assets/trough-horizontal-inactive.svg");
}

GtkScale.trough.highlight {
  background-image : url("assets/trough-horizontal-active.svg");
}

GtkScale.trough.vertical,
GtkScale.trough.vertical.highlight:insensitive {
  background-position : 50% 0;
  background-repeat : repeat-y;
  background-image : url("assets/trough-vertical-inactive.svg");
}

GtkScale.trough.vertical.highlight {
  background-image : url("assets/trough-vertical-active.svg");
}


GtkScale.slider {
    background-color:transparent;
    background-image: url("assets/scale-slider.svg");
}

GtkScale.slider:hover {
    background-image: url("assets/scale-slider-hover.svg");
}
GtkScale.slider:active {
    background-image: url("assets/scale-slider-active.svg");
}
GtkScale.slider:insensitive {
    background-image: url("assets/scale-slider-disabled.svg");
}

GtkScale.mark {
    /*border-style: solid;
    border-color: shade (@bg_color, 0.8);
    */
}

/*************
 * scrollbar *
 *************/

.scrollbar {
    engine: unico;
    background-image: none;
    background-color: @transparent;
    border-style: solid;
    border-width: 2px;

    -GtkRange-trough-border: 0;
    -GtkRange-arrow-scaling: 0.444;
    -GtkRange-slider-width: 11;
    -GtkRange-stepper-size: 0;
    -GtkScrollbar-min-slider-length: 30;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-under-steppers: 1;
}

/* Trough */
.scrollbar.trough {
    border-image: url("assets/scrollbar-trough.svg") 4 5 4 6 / 4 5 4 6 stretch;
}

.scrollbar.horizontal.trough {
    border-image: url("assets/scrollbar-horizontal-trough.svg") 6 4 5 4 / 6 4 5 4 stretch;
}

.scrollbar.trough:insensitive {
    border-image: url("assets/scrollbar-trough-insensitive.svg") 4 5 4 6 / 4 5 4 6 stretch;
}

.scrollbar.horizontal.trough:insensitive {
    border-image: url("assets/scrollbar-horizontal-trough-insensitive.svg") 6 4 5 4 / 6 4 5 4 stretch;
}

GtkScrolledWindow .scrollbar.trough {
    background-color: @base_color;
}

/* Sliders and buttons */

.scrollbar.slider {
    background-color: @transparent;
    border-style: solid;
    border-width: 4px;
    border-image: url("assets/scrollbar-slider.svg") 4 5 4 6 / 4 5 4 6 stretch;
}

.scrollbar.slider.horizontal {
    border-image: url("assets/scrollbar-horizontal-slider.svg") 6 4 5 4 / 6 4 5 4 stretch;
}


.scrollbar.slider:prelight, .scrollbar.slider:prelight:active {
    border-image: url("assets/scrollbar-slider-active.svg") 4 5 4 6 / 4 5 4 6 stretch;
}

.scrollbar.slider.horizontal:prelight, .scrollbar.slider.horizontal:prelight:active {
    border-image: url("assets/scrollbar-horizontal-slider-active.svg") 6 4 5 4 / 6 4 5 4 stretch;
}

.scrollbar.slider:insensitive {
    border-image: url("assets/scrollbar-slider-insensitive.svg") 4 5 4 6 / 4 5 4 6 stretch;
}

.scrollbar.slider.horizontal:insensitive {
    border-image: url("assets/scrollbar-horizontal-slider-insensitive.svg") 6 4 5 4 / 6 4 5 4 stretch;
}

/* overlay scrollbar */
OsThumb:selected,
OsScrollbar:selected {
    background-color: @selected_bg_color;
}

OsThumb:active,
OsScrollbar:active {
	background-color: shade (@bg_color, 0.6);
}

OsThumb:insensitive,
OsScrollbar:insensitive {
	background-color: shade (@bg_color, 0.85);
}

/*******************
 * scrolled window *
 *******************/
GtkScrolledWindow.frame {
	border-top-color: shade (@bg_color, 0.84);
	border-right-color: shade (@bg_color, 0.76);
	border-bottom-color: shade (@bg_color, 0.86);
	border-left-color: shade (@bg_color, 0.76);
	border-radius: 0;
	border-style: solid;

	-unico-border-gradient: none;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
}

/*************
 * separator *
 *************/
.separator {
	border-color: shade (@bg_color, 0.86);
	border-style: solid;

	-unico-border-gradient: none;
	/*-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.6);*/
	-unico-inner-stroke-color: @transparent;
}

.button .separator,
.button.separator {
	border-color: shade (@button_bg_color, 0.84);

	/*-unico-inner-stroke-color: alpha (shade (@button_bg_color, 1.26), 0.5);*/
	-unico-inner-stroke-color: @transparent;
}

GtkComboBox .button .separator,
GtkComboBox .button.separator {
	border-color: @transparent;
  border-width: 0;
}

.notebook .button .separator,
.notebook .button.separator {
	border-color: shade (@bg_color, 0.9);

	/*-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.6);*/
	-unico-inner-stroke-color: @transparent;
}

.button .separator:insensitive,
.button.separator:insensitive {
	border-color: shade (@button_insensitive_bg_color, 0.9);

	/*-unico-inner-stroke-color: alpha (shade (@button_insensitive_bg_color, 1.26), 0.6);*/
	-unico-inner-stroke-color: @transparent;
}

.notebook .button .separator,
.notebook .button.separator {
	border-color: shade (@bg_color, 0.84);

	/*-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.5);*/
	-unico-inner-stroke-color: @transparent;
}

.menuitem.separator {
	-GtkMenuItem-horizontal-padding: 0;
	border-color: shade (@bg_color, 0.9);
	/*-unico-inner-stroke-color: alpha (shade (@dark_bg_color, 1.26), 0.5);*/
	-unico-inner-stroke-color: @transparent;
}

/***********
 * sidebar *
 ***********/
.sidebar,
.sidebar .view {
}

.sidebar row:selected {
	/*text-shadow: 0 1 shade (@selected_bg_color, 0.7);*/
}

.sidebar row:hover {
	/*background-color: alpha (@bg_color, 0.0);*/
}

.sidebar .frame {
	border-width: 0;
}

/**************
 * spinbutton *
 **************/
.spinbutton.button:active,
.spinbutton.button:insensitive,
.notebook .spinbutton.button:active,
.notebook .spinbutton.button:insensitive,
.spinbutton.button,
.notebook .spinbutton.button {
	-unico-outer-stroke-width: 1 1 1 0;
}

.spinbutton.button,
.notebook .spinbutton.button {
  engine: unico;
  background-color: @transparent;
  color: #999;
  border-width: 0;
  border-image: none;
}

.spinbutton.button:focus,
.notebook .spinbutton.button:focus {
  engine: unico;
  background-color: @transparent;
  color: #888;
  border-width: 0;
  border-image: none;
}

.spinbutton.button:hover,
.notebook .spinbutton.button:hover {
  engine: unico;
  background-color: @transparent;
  color: @selected_bg_color_alt2;
  border-width: 0;
  border-image: none;
}

.spinbutton.button:active,
.notebook .spinbutton.button:active {
  engine: unico;
  background-color: @transparent;
  color: @selected_bg_color;
  border-width: 0;
  border-image: none;
}

.spinbutton.button:insensitive,
.notebook .spinbutton.button:insensitive {
  engine: unico;
  background-color: @transparent;
  color: shade(@bg_color, 0.85);
  border-width: 0;
  border-image: none;
}

/***********
 * spinner *
 ***********/
.menu.spinner,
.primary-toolbar .toolbar .spinner,
.primary-toolbar.toolbar .spinner {
	color: shade (@bg_color, 0.85);
}

/*************
 * statusbar *
 *************/
GtkStatusbar {
}

/**********
 * switch *
 **********/
GtkSwitch {
  engine: unico;
  border-radius: 0;
  padding: 1px 0px;
  color: #fff;
  background-color: @transparent;
  background-image: none;
  border-width: 20px;
  border-style: solid;
  font: bold condensed 10;

  -unico-focus-border-color: alpha(@selected_bg_color, 0.6);
  -unico-focus-border-radius: 2;
  -unico-focus-fill-color: alpha(@selected_bg_color, 0.2);

}

GtkSwitch.trough {
  engine: unico;
  border-image: url("assets/switch-trough.svg") 0 80 22 0 / 0 80 22 0 stretch;
  background-color: @transparent;
  background-image: none;
  border-width: 20px;
  border-style: solid;
}

GtkSwitch.trough:active {
  engine: unico;
  border-image: url("assets/switch-trough-active.svg") 0 80 22 0 / 0 80 22 0 stretch;
  background-color: @transparent;
  background-image: none;
}

GtkSwitch.trough:insensitive {
  engine: unico;
  border-image: url("assets/switch-trough-insensitive.svg") 0 80 22 0 / 0 80 22 0 stretch;
  background-color: @transparent;
  background-image: none;
}

GtkSwitch.trough:active:insensitive {
  engine: unico;
  border-image: url("assets/switch-trough-active-insensitive.svg") 0 80 22 0 / 0 80 22 0 stretch;
  background-color: @transparent;
  background-image: none;
}

GtkSwitch.slider, GtkSwitch.slider:insensitive {
  engine: unico;
  background-color: @transparent;
  color : @transparent;
  background-image: url("assets/blank.png");
  -unico-switch-grip-color: @transparent;
}


/***********
 * toolbar *
 ***********/
.toolbar {
	border-style: none;
}

/* primary-toolbar */
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    -GtkWidget-window-dragging: true;
    
    background-image: -gtk-gradient (linear, left top, left bottom,
		from (@toolbar_gradient_base),
		to (@toolbar_gradient_final));
    border-color: shade (@toolbar_border, 1.0);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0px 0px 1px 0px;

    color: @fg_color;
    
    -unico-border-gradient: none;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
}

.primary-toolbar .toolbar :insensitive,
.primary-toolbar.toolbar :insensitive {
    color: shade (@bg_color, 0.6);
}

.primary-toolbar .toolbar GtkComboBox,
.primary-toolbar.toolbar GtkComboBox,
.primary-toolbar .toolbar .button,
.primary-toolbar.toolbar .button {
    background-color: @transparent;
    background-image: none;
    border-radius: 0;
    border-width: 0;
    padding: 5px;
    color: @fg_color;
    /*transition: none;*/

    -unico-focus-border-color: alpha (@selected_bg_color, 0.7);
    -unico-focus-border-radius: 0;
    -unico-focus-fill-color: alpha (@selected_bg_color, 0.1);
    -unico-focus-outer-stroke-color: alpha (@selected_bg_color, 0.2);
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;

    -GtkButton-inner-border: 2;
}

.primary-toolbar .toolbar .raised .button,
.primary-toolbar.toolbar .raised .button,
.primary-toolbar .toolbar .raised.button,
.primary-toolbar.toolbar .raised.button,
.primary-toolbar .toolbar .button:hover,
.primary-toolbar.toolbar .button:hover,
.primary-toolbar .toolbar .button:active,
.primary-toolbar.toolbar .button:active,
.primary-toolbar .toolbar .button:insensitive,
.primary-toolbar.toolbar .button:insensitive {
}


.toolbar GtkImage:hover {
    background-color: @transparent;
}

.primary-toolbar GtkComboBox.combobox-entry .button {
}

/*.primary-toolbar GtkComboBox.combobox-entry .button,*/
.primary-toolbar .toolbar .raised .button,
.primary-toolbar.toolbar .raised .button,
.primary-toolbar .toolbar .raised.button,
.primary-toolbar.toolbar .raised.button/*,
.primary-toolbar .toolbar .button:hover,
.primary-toolbar.toolbar .button:hover*/ {
}

.primary-toolbar .toolbar .button:hover,
.primary-toolbar.toolbar .button:hover {
  background-color: shade(@toolbar_gradient_final, 0.9);
  -unico-inner-stroke-width: 0;
  -unico-outer-stroke-width: 0;
}

.primary-toolbar .toolbar .raised .button:hover,
.primary-toolbar.toolbar .raised .button:hover,
.primary-toolbar .toolbar .raised.button:hover,
.primary-toolbar.toolbar .raised.button:hover {
  background-color: shade(@toolbar_gradient_final, 0.9);
  -unico-inner-stroke-width: 0;
  -unico-outer-stroke-width: 0;
}

.primary-toolbar .toolbar raised.button:active,
.primary-toolbar.toolbar raised.button:active,
.primary-toolbar .toolbar .button:active,
.primary-toolbar.toolbar .button:active {
  background-color: shade(@toolbar_gradient_final, 0.95);
  -unico-inner-stroke-width: 0 0 4 0;
  -unico-inner-stroke-color: shade(@toolbar_gradient_final, 0.8);
}

.primary-toolbar .toolbar .button:active:hover,
.primary-toolbar.toolbar .button:active:hover {
  background-color: shade(@toolbar_gradient_final, 0.9);
  -unico-inner-stroke-width: 0 0 4 0;
  -unico-inner-stroke-color: shade(@toolbar_gradient_final, 0.7);
}

.primary-toolbar .toolbar .button:insensitive,
.primary-toolbar.toolbar .button:insensitive {
	background-color: @transparent;
}

.primary-toolbar .toolbar .button:active:insensitive,
.primary-toolbar.toolbar .button:active:insensitive {
  background-color: @transparent;
  -unico-inner-stroke-width: 0 0 4 0;
  -unico-inner-stroke-color: shade(@toolbar_gradient_final, 0.95);
}


.primary-toolbar .toolbar GtkSeparatorToolItem,
.primary-toolbar.toolbar GtkSeparatorToolItem,
.primary-toolbar .toolbar .separator,
.primary-toolbar.toolbar .separator,
.primary-toolbar .toolbar .separator:insensitive,
.primary-toolbar.toolbar .separator:insensitive {
	border-color: alpha (shade (@toolbar_gradient_final, 0.75), 0.5);
	border-style: solid;
	-unico-inner-stroke-color: @transparent;
}

/* inline-toolbar */
.inline-toolbar.toolbar {
	-GtkToolbar-button-relief: normal;

	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@base_color, 0.93)),
		to (shade (@base_color, 0.95)));
	border-radius: 0;
	border-style: solid;
  border-color: shade (@base_color, 0.85);
	border-width: 1px;
	padding: 3px 4px 4px 4px;
}

.inline-toolbar.toolbar:nth-child(last) {
	border-bottom-color: shade (@bg_color, 0.76);
	border-color: shade (@bg_color, 0.8);
	border-radius: 0;
	border-width: 0px 1px 1px 1px;
}

.inline-toolbar.toolbar .button {
	/*background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.12)),
		to (shade (@bg_color, 0.88)));*/
	border-radius: 0;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
	padding: 1px;

	/*icon-shadow: 0 1 shade (@bg_color, 1.16);

	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.16)),
		to (shade (@bg_color, 0.98)));
	-unico-outer-stroke-width: 1 0 1 0;*/
}

/*.inline-toolbar.toolbar .button *:active,
.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:active,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
	-unico-outer-stroke-width: 1 0 1 0;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.02)),
		to (alpha (shade (@bg_color, 0.05), 0.06)));
}

.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.02)),
		to (shade (@bg_color, 0.98)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.85)),
		to (shade (@bg_color, 0.8)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.16)),
		to (shade (@bg_color, 1.0)));
}*/

.inline-toolbar.toolbar .button:nth-child(first),
.inline-toolbar.toolbar GtkToolButton:nth-child(first) .button {
	border-radius: 2px 0px 0px 2px;
	-unico-outer-stroke-width: 1px 0px 1px 1px;
}

.inline-toolbar.toolbar .button:nth-child(last),
.inline-toolbar.toolbar GtkToolButton:nth-child(last) .button {
	border-radius: 0px 2px 2px 0px;
	border-width: 1px;
	-unico-outer-stroke-width: 1 1 1 0;
}

/***********
 * tooltip *
 ***********/
.tooltip {
	border-color: shade (@tooltip_bg_color, 0.7);
}

/************
 * treeview *
 ************/
GtkTreeView .entry {
	background-image: none;
	border-radius: 0;

	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1;
}

GtkTreeView row:nth-child(even) {
	background-color: shade (@base_color, 1.0);
}

GtkTreeView row:nth-child(odd) {
	background-color: shade (@base_color, 0.97);
}


GtkTreeView row:hover {
    background-color : alpha(@selected_bg_color, 0.03);
}

GtkTreeView GtkEntry {
    background-color : @selected_bg_color_alt;
}

/************
 * viewport *
 ************/
GtkViewport.frame {
	border-width: 0;

	-unico-inner-stroke-width: 0;
}

GtkWindow {
	color: @fg_color;
}

* {
/* inherit the color from parent by default */
	color: inherit;
	background-color: @bg_color;
}


